Repository ppgeyser/plant-parenthood, pull requests merged in 2019-12, with the labels that each got.

#109 Addplantpic
  client/src/pages/AddPlant/AddPlant.component.js
Labels: Add Plant

#110 Matching on results updated
  client/src/pages/Results/index.js
Labels: Plant Result Page, enhancement

#111 Results class alert on add
  client/src/pages/Results/index.js
Labels: Plant Result Page, enhancement

#113 Water care and delete
  client/src/components/InfoCard/index.js
  client/src/components/PlantDisplayCard/index.js
  client/src/pages/AddPlant/AddPlant.component.js
  client/src/pages/PlantDetail/PlantDetail.component.js
Labels: Add Plant, Plant Detail

#115 <Body> now has bg color
  client/public/index.html
Labels: bug

#120 Constant ping, better fix
  client/src/pages/Dashboard/index.js
Labels: bug

#127 input of add plant page changed to match group suggestions
  client/src/components/InfoCard/index.js
  client/src/pages/AddPlant/AddPlant.component.js
Labels: Add Plant, Plant Detail

#125 Grammar mostly just adding periods
  client/src/pages/Results/Plants.json
Labels: enhancement

#126 Feedpost now has caption action
  client/src/pages/Feed/Feed.component.js
Labels: Feed Page

#132 plant detail header and info card
  client/src/components/InfoCard/index.js
  client/src/pages/PlantDetail/PlantDetail.component.js
Labels: Plant Detail

#134 Format and style feed page
  client/src/pages/Feed/Feed.component.js
Labels: Feed Page
